/*CSS File*/
body ,html{
    height:100%;
    width:100%;
}
#cover{
  background: #222 url('Images/Backgrounds/b.png') center center no-repeat;
  background-size: cover;
  color: white;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}
#cover-caption{
  width: 100%;
}
.shadow{
    padding: 10px;
    box-shadow: 5px 10px 18px #888888;
}
.MySubtitle{
    color: white;
    margin: 0 1.2rem;
    padding: 0 1.2rem;
    background: rgba(23, 56, 68, 0.96);
    border-radius: 15px;
    text-shadow: 0.2rem 0.2rem black;
}
.nava{
    margin: 0 3rem;
    background: gray;
    border-radius: 10px;
}
.navb{
    background: gray;
}

.tbox{
    border-radius: 10px;
    background-color: rgba(30,30,30,0.3);
}
.prog{
    text-align: right;
}
.downnav{

}
.carddesign{
    display: flex;
    align-items: center;
    justify-content: center;

}
.spdes{
    background:  rgba(30,30,30,0.3);

}
.faculty{
    border:1px solid black ;
}
